* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #283643;
}

.linha_branca {
    height: 100%;
    width: 70px;
    margin-left: 0%;
    position: fixed;
    left: 2%;
    background-color: white;
}

.linha_verde {
    height: 100%;
    width: 70px;
    margin-left: 5%;
    position: fixed;
    left: 5%;
    background-color:#658338;
}

.right {
   display: flex;
   justify-content: right;
   margin-top: 7%;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left h1 {
    color: white;
}

.logo {
    width: 35%;
    height: 55%;
}

.logo_parana {
    width: 2%;
    height: 2%;
}

button {
    width: 400px;
    height: 30px;
    cursor: pointer;
    background-color: #658338;
    color: white;
    border-radius: 30px;
    border: none;
}
